.container{
    width: 740px;
    height: 450px;
    background-color: silver;
    margin: 12px;
    padding:16px ;
    
     
}
.top-nav {
     
    height:115px;
    width:734px ;
    background-color: green;
    margin-bottom: 16px;
    margin-right: 0px;
     
}
.side-nav {
    height: 223px;
    width: 153px;
    background-color: blue;
    margin-right: 18px;
}
.main {
    height: 314px;
    width: 540px;
    background-color: red;
    padding-right: 24px;
    
}
.sub-content {
    height: 150px;
    width: 157px;
    margin-top: 12px;
    margin-right:12px;
    margin-left: 12px;
    background-color: yellow;
}
#advertisement {
    height: 87px;
    width: 516px;
    margin-bottom: 43px;
    margin-right: 10px;
    margin-left: 12px;
    margin-top: 20px;
    background-color: purple;
}
.row{
    display: flex;
   
}