<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"><link rel="stylesheet" type="text/css" href="{% static 'wall_app/css/wall.css' %}">
    <title>The Wall</title>
</head>
<body>
    <div id="header">
        <h1>CodingDojo Wall</h1>
        <a href="logout"><p id="logout">Log Off</p></a>
        <h3 id="name">Welcome {{request.session.u_fname}}</h3>
    </div>
    <div id="container">
        <div id="top">
        <h2>Post a message:</h2>
            <form action="/post" method="post">
                {% csrf_token %}
                <textarea id="messagebox" name="message" row="3" cols="80"></textarea>
                <input type="hidden" name="id" value="request.session['u_id']">
                <input id="msgbtn" type="submit" value="Post a message!">
            </form>
        </div>
        {% for post in posts reversed %}
        <h3 id="postdetails">{{post.messager.first_name}} {{post.messager.last_name}} - {{post.created_at|date:'F jS Y'}} {% if post.messager.id == request.session.u_id %} <a href="/delmsg/{{post.id}}"><button>Delete</button></a> {% endif %}</h3>
        <p id="post">{{post.message}}</p>
        <p id="micro">...posted {{post.created_at|timesince}} ago.</p>
        {% for comment in post.post_comments.all %}
        <h4 id="commentdetails">{{comment.commentor.first_name}} {{comment.commentor.last_name}} - {{comment.created_at|date:'F jS Y'}}</h4>
        <p id="comment">{{comment.comment}} {% if comment.commentor.id == request.session.u_id %} <a href="/delcom/{{comment.id}}"><button>Delete</button></a> {% endif %}</p>
        <p id="micro">...posted {{comment.created_at|timesince}} ago.</p>


        {% endfor %}
        <div id="cmtdiv">
            <h3 id="cmtheader">Post a comment:</h3>
            <form action="/comment" method="post">
                {% csrf_token %}
                <input id ="commentbox" type="textarea" name="comment" row="1">
                <input type="hidden" name="id" value="request.session['u_id']">
                <input type="hidden" name="post_id" value="{{post.id}}">
                <input id="cmtbtn" type="submit" value="Post a comment!">
            </form>
        </div>
        {% endfor %}
    </div>
</body>
</html>