.bar{
    width: 1134px;
    height: 95px;
    background-color: rgba(204,204,204,255);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 200px;
    bottom: 575px;
}
.bar button{
    background-color: rgba(43,120,228,255);
    width: 114px;
    height: 38px;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    box-shadow: 3px solid 
}

.stprofile{
    width: 734px;
    height: 290px;
    border: solid;
    display: flex;
    justify-content: space-around;
    position: absolute;
    left: 200px;
    top: 127px;
}

.stprofile button{
background-color: rgba(255,217,102,255);
width: 150px;
height: 50px;
display: flex;
flex-direction: row;
justify-content: space-around;
border: 3px solid black;
align-items: center;
box-shadow: 3px 3px 3px black
}

.dojo-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.dojo-paragraph1{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
}


.ndprofile{
    width: 734px;
    height: 290px;
    border: solid;
    display: flex;
    position: absolute;
    left: 200px;
    top: 441px;
    justify-content:space-around;
}

.ndprofile button{
background-color: rgba(255,217,102,255);
width: 150px;
height: 50px;
display: flex;
flex-direction: row;
border: 3px solid black;
justify-content: space-around;
align-items: center;
box-shadow: 3px 3px 3px black
}


.dojo-de{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.dojo-paragraph2{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.rdprofile{
    width: 349px;
    height: 239px;
    border: solid;
    display: flex;
    justify-content:space-evenly;
    position: absolute;
    left: 969px;
    bottom: 312px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.rdprofile button{
    background-color: rgba(147,196,125,255);
    width: 176px;
    height: 48px;
    box-shadow: 3px 3px 3px black
}






