<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <a href="/shows">Go Back</a>
    <h1>Add a New Show</h1>
    <form action="/shows/Create" method="post">
        {% csrf_token %}
        <div>
            <label>Title</label>
            <input type="text" name="Title">
        </div>
        <div>
            <label>Network</label>
            <input type="text" name="Network">
        </div>
        <div>
            <label>Release Date</label>
            <input type="date" name="Release Date">
        </div>
        <div>
            <label>Description</label>
            <textarea name="Description" id="" cols="30" rows="10"></textarea>
        </div>
        <button>Create</button>
    </form>

</body>
</html>