<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read(One)</title>
</head>
<body>
    <a href="/show">Go Back</a>

    <h1>TV Show {{ individual_show.id }}</h1>

    <p>Title: {{ individual_show.title }}</p>
    <p>Network: {{ individual_show.network }}</p>
    <p>Description: {{ individual_show.description }}</p>
    <p>Last Updated: {{ individual_show.updated_at }}</p>


    <a href="/show/{{ individual_show.id }}/ edit">Edit</a>
    <a href="/show/{{ individual_show.id }}/ delete">Delete</a>

</body>
</html>