<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<title>ninja gold</title>
	<meta name="description" content="CONTENT" >
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
	<h1>Your Gold: {{gold}}</h1>
	<form action="/process_money" method="post">
		<h3>Farm</h3>
		<p>(earns 10-20 golds)</p>
		<input type="hidden" name="building" value="farm" />
		<input type="submit" value="Find Gold!"/>
	</form>
	<form action="/process_money" method="post">
		<h3>Cave</h3>
		<p>(earns 5-10 golds)</p>
		<input type="hidden" name="building" value="cave" />
		<input type="submit" value="Find Gold!"/>
	</form>
	<form action="/process_money" method="post">
		<h3>House</h3>
		<p>(earns 2-5 golds)</p>
		<input type="hidden" name="building" value="house" />
		<input type="submit" value="Find Gold!"/>
	</form>
	<form action="/process_money" method="post">
		<h3>Casino</h3>
		<p>(earns/takes 0-50 golds)</p>
		<input type="hidden" name="building" value="casino" />
		<input type="submit" value="Find Gold!"/>
	</form>
	<h2>Activities:</h2>
	<div id="activity">
	{% for z in session['message'] %}
		<p>{{z}}</p>
	{% endfor %}
	</div>
	<form action='/reset' method='post'>
		<input type='submit' value='Reset'>
	</form>
</body>
</html>