<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <table>
      {% for i in range (8) %}
      <tr>
        {% for j in range (8) %}
        {% if (i+j)%2 == 0 %}
        <td class="box1">1</td>
        {% endif %}
        {% if (i+j)%2 == 1 %}
        <td class="box2">2</td>
        {% endif %}

        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
